.entry-list {
  list-style-type: none;
  background-color: rgb(138, 224, 224);
  border: 2px solid black;
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.entry-list-item {
  background-color: rgb(245, 173, 207);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  width: 670px;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  padding: 10px 80px;
  border-radius: 30px;
  background-color: rgb(138, 224, 224);
  border: 2px solid black;
  font-size: 25px;
  margin: 50px 0;
  width: 300px;
}
